#views_demo .button { margin:5px 0;}

#views_demo .section {
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
	background-color:#ffffaa;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #a0a0a0;
	border-left:1px solid #304030;
	border-right:1px solid #304030;
	padding:10px;
}
#views_demo .template-output .section:last-child {
	border-bottom:1px solid #304030;
}